
.ic-package:before { content: '\e800'; } /* '' */
.ic-beer:before { content: '\e801'; } /* '' */
.ic-man:before { content: '\e802'; } /* '' */
.ic-ok:before { content: '\e803'; } /* '' */
.ic-ok-circled:before { content: '\e804'; } /* '' */
.ic-cancel:before { content: '\e805'; } /* '' */
.ic-cancel-circled:before { content: '\e806'; } /* '' */
.ic-plus:before { content: '\e807'; } /* '' */
.ic-plus-circled:before { content: '\e808'; } /* '' */
.ic-download:before { content: '\e809'; } /* '' */
.ic-chat:before { content: '\e80a'; } /* '' */
.ic-emo-beer:before { content: '\e80b'; } /* '' */
.ic-cog:before { content: '\e80c'; } /* '' */
.ic-folder-open:before { content: '\e80d'; } /* '' */
.ic-folder:before { content: '\e80e'; } /* '' */
.ic-down:before { content: '\e80f'; } /* '' */
.ic-left:before { content: '\e810'; } /* '' */
.ic-right:before { content: '\e811'; } /* '' */
.ic-up:before { content: '\e812'; } /* '' */
.ic-theme:before { content: '\e813'; } /* '' */
.ic-list:before { content: '\e814'; } /* '' */
.ic-flash:before { content: '\e815'; } /* '' */
.ic-flash-outline:before { content: '\e816'; } /* '' */
.ic-info:before { content: '\e817'; } /* '' */
.ic-warning:before { content: '\e818'; } /* '' */
.ic-feather:before { content: '\e819'; } /* '' */
.ic-spin2:before { content: '\e831'; } /* '' */
.ic-twitter:before { content: '\f099'; } /* '' */
.ic-github:before { content: '\f09b'; } /* '' */
.ic-doc-text:before { content: '\f0f6'; } /* '' */
.ic-code:before { content: '\f121'; } /* '' */
.ic-rouble:before { content: '\f158'; } /* '' */
.ic-apple:before { content: '\f179'; } /* '' */
.ic-android:before { content: '\f17b'; } /* '' */
.ic-vk:before { content: '\f189'; } /* '' */
.ic-archive:before { content: '\f1c6'; } /* '' */
.ic-file-code:before { content: '\f1c9'; } /* '' */
.ic-plug:before { content: '\f1e6'; } /* '' */
.ic-telegram:before { content: '\f2c6'; } /* '' */
.ic-comment:before { content: '\f4ac'; } /* '' */