@use "sass:map";

@import "mixin/_mixins";
@import "_vars";
@import '_palette';
@import 'function/function';

%flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	align-content: center;
}

.theme-dark .btnSetDarkTheme,
.theme-light .btnSetLightTheme,
.theme-oled .btnSetOledTheme {
	background-color: var(--colorPrimary);
	color: var(--colorBackground);
	cursor: default;
}

ol {
	padding-left: 1em;
}

.card {

	$transition:
		color .30s,
		background-color .30s,
		box-shadow .20s,
		transform .30s;

	background-color: var(--colorSurface);
	padding: 1.3em 1.5em;
	margin-top: 1em;

	h5 { margin: 0; }

	@include setBoxShadow(0px 5px 20px -10px rgba(0, 0, 0, 0.25));
	@include setBorderRadius();
	@include setTransition($transition);

	&.active {

		cursor: pointer;

		&:hover {

			background-color: var(--colorSecondary);
			-moz-transform: scale(1.015);
			-ms-transform: scale(1.015);
			-webkit-transform: scale(1.015);
			-o-transform: scale(1.015);
			transform: scale(1.015);

			@include setBoxShadow(0px 10px 20px -5px rgba(0, 0, 0, 0.25));

		}

		&:active {

			$scale: 1.005;

			background-color: var(--colorPrimary);
			-moz-transform: scale($scale);
			-ms-transform: scale($scale);
			-webkit-transform: scale($scale);
			-o-transform: scale($scale);
			transform: scale($scale);

			.theme-light & { color: map-get-strict($grey-palette, 50); }

			.theme-dark &,
			.theme-oled & { color: map-get-strict($grey-palette, 900); }

		}

	}

	&.centered {

		width: 100%;
  	height: 60vh;
		position: relative;
		cursor: pointer;

		div {
			position: absolute;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

	}

	&.info,
	&.danger,
	&.success,
	&.warning {
		@include setBoxShadow(none);
		padding: 1em 1.1em;
	}

	&.info {

		.theme-light & {
			color: map-get-strict($light-blue-palette, 900);
			background-color: map-get-strict($light-blue-palette, 100);
		}

		.theme-dark &,
		.theme-oled & {
			color: map-get-strict($light-blue-palette, 100);
			background-color: map-get-strict($light-blue-palette, 900);
		}

	}

	&.danger {

		.theme-light & {
			color: map-get-strict($red-palette, 900);
			background-color: map-get-strict($red-palette, 100);
		}

		.theme-dark &,
		.theme-oled & {
			color: map-get-strict($red-palette, 50);
			background-color: map-get-strict($red-palette, 900);
		}

	}

	&.success {

		.theme-light & {
			color: map-get-strict($green-palette, 900);
			background-color: map-get-strict($green-palette, 100);
		}

		.theme-dark &,
		.theme-oled & {
			color: map-get-strict($green-palette, 50);
			background-color: map-get-strict($green-palette, 900);
		}

	}

	&.warning {

		.theme-light & {
			color: map-get-strict($amber-palette, 900);
			background-color: map-get-strict($amber-palette, 100);
		}

		.theme-dark &,
		.theme-oled & {
			color: map-get-strict($amber-palette, 50);
			background-color: map-get-strict($amber-palette, 900);
		}

	}

}

footer {

	padding-bottom: 1em;

	.theme-light & {	background-color: #cecece;	}
	.theme-dark & {	background-color: #181a1b;	}
	.theme-oled & { border-top: 2px solid var(--colorDivider); }

}

header {
	background-color: var(--colorSurface);
	//border-bottom: 1px solid var(--colorDivider);
	.theme-oled & {
		background-color: #000;
		border-bottom: 2px solid var(--colorDivider);
	}
}

.anim-topToBottom {
  animation: moveUpWithFade 1s ease-out infinite;
}

.anim-bottomToTop {
  animation: moveDownWithFade 1s ease-out infinite;
}

@keyframes moveUpWithFade {
  from {
    transform: translateY(0%);
    opacity: 0;
  }
  10% {
    transform: translateY(30%);
    opacity: 1;
  }
  50% {
    transform: translateY(80%);
    opacity: 1;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes moveDownWithFade {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  10% {
    transform: translateY(80%);
    opacity: 1;
  }
  50% {
    transform: translateY(30%);
    opacity: 1;
  }
  to {
    transform: translateY(0%);
    opacity: 0;
  }
}

.blink {
  -webkit-animation: blink 800ms infinite;
          animation: blink 800ms infinite;
}
@-webkit-keyframes blink { 50% { color: transparent; }}
        @keyframes blink { 50% { color: transparent; }}


.actionbar {

	@extend %flex-row;

	margin-top: 2em;

	.action {
		cursor: pointer;
	}

}

#projectName:after {

	content: "A2IGA";

	@media (min-width: 768px) {
		content: "Any app instead Google Assistant";
	}

}

header h1 {
	color: var(--colorPrimary);
}

.pointer {
	cursor: pointer;
}
